$--main: #0e2b65;

.gallerey-carousel {
  height: 350px;
  .gallery {
    img {
      object-fit: cover;
      border-radius: 10px;
      width: 100%;
      height: 300px;
    }
  }
}

.custom-dot {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 20px 0 0 0px !important;
  position: absolute;
}

.slick-dots {
  bottom: -45px !important;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
  color: $--main !important;
}

.slick-dots li button:before {
  font-size: 23px !important;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: $--main !important;
}

.slick-list {
  margin: 0 10px;
}
.slick-slide > div {
  padding: 0 -10px;
}

@media screen and (max-width: 625px) {
  .custom-dot {
    display: none;
  }
}
