// .news_main {
//   padding: 5rem 2rem 0 2rem;
// }

section {
  width: 100%;
  .newsPage_container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 4fr));
    gap: 1rem;
    .news_small {
      width: 100%;
      max-width: 350px;
      height: 350px;
      background-color: #eee;
      border-radius: 8px;
      text-decoration: none;
      transition: all 0.2s ease;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

      .news_small_img {
        height: 220px;
        overflow: hidden;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        img {
          width: 350px;
          height: 220px;
          object-fit: cover;
          transition: all 0.4s ease-in;
        }
      }

      .news_small_text {
        padding: 15px;
        .news_small_text_title {
          max-width: 500px;
          color: #0e2b65;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        .news_small_text_date {
          padding-top: 10px;
          color: crimson;
        }
      }
    }

    .news_small:hover {
      background-color: #89001a;
      color: #fff;
    }

    .news_small:hover .news_small_img {
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
    .news_small:hover .news_small_img img {
      transform: scale(1.1);
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }

    .news_small:hover .news_small_text_title {
      color: #fff;
    }

    .news_small:hover .news_small_text_date {
      color: #fff;
    }
  }
}

@media (max-width: 1492px) {
  .news_main {
    display: grid;
    justify-content: center;
    max-width: 1492px;
  }

  section {
    width: 100%;
    .newsPage_container {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      justify-content: center;
      .news_small {
        width: 300px;
        height: 320px;
        background-color: #eee;
        border-radius: 8px;
        text-decoration: none;
        transition: all 0.2s ease;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .news_small_img {
          height: 220px;
          overflow: hidden;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          img {
            width: 350px;
            height: 220px;
            object-fit: cover;
            transition: all 0.4s ease-in;
          }
        }

        .news_small_text {
          padding: 15px;
          .news_small_text_title {
            max-width: 200px;
            color: #0e2b65;
          }

          .news_small_text_date {
            padding-top: 10px;
            color: crimson;
          }
        }
      }

      .news_small:hover {
        background-color: #89001a;
        color: #fff;
      }

      .news_small:hover .news_small_img {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
      .news_small:hover .news_small_img img {
        transform: scale(1.1);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }

      .news_small:hover .news_small_text_title {
        color: #fff;
      }

      .news_small:hover .news_small_text_date {
        color: #fff;
      }
    }
  }
}

@media (max-width: 1470px) {
  .news_main {
    display: grid;
    justify-content: center;
    max-width: 1470px;
  }

  section {
    width: 100%;
    .newsPage_container {
      display: grid;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      justify-content: center;
      .news_small {
        width: 300px;
        height: 320px;
        background-color: #eee;
        border-radius: 8px;
        text-decoration: none;
        transition: all 0.2s ease;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .news_small_img {
          height: 220px;
          overflow: hidden;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          img {
            width: 350px;
            height: 220px;
            object-fit: cover;
            transition: all 0.4s ease-in;
          }
        }

        .news_small_text {
          padding: 15px;
          .news_small_text_title {
            max-width: 200px;
            color: #0e2b65;
          }

          .news_small_text_date {
            padding-top: 10px;
            color: crimson;
          }
        }
      }

      .news_small:hover {
        background-color: #89001a;
        color: #fff;
      }

      .news_small:hover .news_small_img {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
      .news_small:hover .news_small_img img {
        transform: scale(1.1);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }

      .news_small:hover .news_small_text_title {
        color: #fff;
      }

      .news_small:hover .news_small_text_date {
        color: #fff;
      }
    }
  }
}

@media (max-width: 1280px) {
  .news_main {
    display: grid;
    justify-content: center;
    max-width: 1280px;
  }

  section {
    width: 100%;
    .newsPage_container {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      justify-content: center;
      .news_small {
        width: 300px;
        height: 320px;
        background-color: #eee;
        border-radius: 8px;
        text-decoration: none;
        transition: all 0.2s ease;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .news_small_img {
          height: 220px;
          overflow: hidden;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          img {
            width: 350px;
            height: 220px;
            object-fit: cover;
            transition: all 0.4s ease-in;
          }
        }

        .news_small_text {
          padding: 15px;
          .news_small_text_title {
            max-width: 200px;
            color: #0e2b65;
          }

          .news_small_text_date {
            padding-top: 10px;
            color: crimson;
          }
        }
      }

      .news_small:hover {
        background-color: #89001a;
        color: #fff;
      }

      .news_small:hover .news_small_img {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
      .news_small:hover .news_small_img img {
        transform: scale(1.1);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }

      .news_small:hover .news_small_text_title {
        color: #fff;
      }

      .news_small:hover .news_small_text_date {
        color: #fff;
      }
    }
  }
}

@media (max-width: 1024px) {
  .news_main {
    display: grid;
    justify-content: center;
    max-width: 1024px;
  }

  section {
    width: 100%;
    .newsPage_container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-content: center;
      .news_small {
        width: 300px;
        height: 320px;
        background-color: #eee;
        border-radius: 8px;
        text-decoration: none;
        transition: all 0.2s ease;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .news_small_img {
          height: 220px;
          overflow: hidden;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          img {
            width: 350px;
            height: 220px;
            object-fit: cover;
            transition: all 0.4s ease-in;
          }
        }

        .news_small_text {
          padding: 15px;
          .news_small_text_title {
            max-width: 200px;
            color: #0e2b65;
          }

          .news_small_text_date {
            padding-top: 10px;
            color: crimson;
          }
        }
      }

      .news_small:hover {
        background-color: #89001a;
        color: #fff;
      }

      .news_small:hover .news_small_img {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
      .news_small:hover .news_small_img img {
        transform: scale(1.1);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }

      .news_small:hover .news_small_text_title {
        color: #fff;
      }

      .news_small:hover .news_small_text_date {
        color: #fff;
      }
    }
  }
}

@media (max-width: 769px) {
  .news_main {
    display: grid;
    justify-content: center;
    max-width: 1024px;
  }

  section {
    width: 100%;
    .newsPage_container {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-content: center;
      .news_small {
        width: 270px;
        height: 320px;
        background-color: #eee;
        border-radius: 8px;
        text-decoration: none;
        transition: all 0.2s ease;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .news_small_img {
          height: 220px;
          overflow: hidden;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          img {
            width: 350px;
            height: 220px;
            object-fit: cover;
            transition: all 0.4s ease-in;
          }
        }

        .news_small_text {
          padding: 15px;
          .news_small_text_title {
            max-width: 200px;
            color: #0e2b65;
          }

          .news_small_text_date {
            padding-top: 10px;
            color: crimson;
          }
        }
      }

      .news_small:hover {
        background-color: #89001a;
        color: #fff;
      }

      .news_small:hover .news_small_img {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
      .news_small:hover .news_small_img img {
        transform: scale(1.1);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }

      .news_small:hover .news_small_text_title {
        color: #fff;
      }

      .news_small:hover .news_small_text_date {
        color: #fff;
      }
    }
  }
}

@media (max-width: 610px) {
  .news_main {
    display: grid;
    justify-content: center;
    min-width: 540px;
  }

  section {
    width: 100%;
    .newsPage_container {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      justify-content: center;
      .news_small {
        width: 450px;
        height: 320px;
        background-color: #eee;
        border-radius: 8px;
        text-decoration: none;
        transition: all 0.2s ease;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        .news_small_img {
          height: 220px;
          overflow: hidden;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
          img {
            width: 450px;
            height: 220px;
            object-fit: cover;
            transition: all 0.4s ease-in;
          }
        }

        .news_small_text {
          padding: 15px;
          .news_small_text_title {
            max-width: 200px;
            color: #0e2b65;
          }

          .news_small_text_date {
            padding-top: 10px;
            color: crimson;
          }
        }
      }

      .news_small:hover {
        background-color: #89001a;
        color: #fff;
      }

      .news_small:hover .news_small_img {
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }
      .news_small:hover .news_small_img img {
        transform: scale(1.1);
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      }

      .news_small:hover .news_small_text_title {
        color: #fff;
      }

      .news_small:hover .news_small_text_date {
        color: #fff;
      }
    }
  }
}
